html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.card {
    height: 400px;
    width: 850px;
    background: cadetblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, cadetblue, salmon); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, cadetblue, salmon); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, cadetblue, salmon); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, cadetblue, salmon); /* Standard syntax */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

h2 {
    height: 300px;
    width: 750px;
	color: #FFFFFF;
	font: 900 96px 'Lobster', cursive;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

form{

}

#chatBox {
  font-family:tahoma;
  font-size:12px;
  color:black;
  border: 1px teal solid;
  height: 225px;
  width: 400px;
  overflow: scroll;
  float:left;
}

#usersOnLine{
  font-family:tahoma;
  font-size:14;
  color:orange;
  border:1px teal solid;
  width:150px;
  height:225px;
  overflow:scroll;
  margin-left:1px;
}

#message {
  width: 350px;
  height: 22px;
  border: 1px teal solid;
  float:left;
  margin-top:1px;
}

#send {
  width: 50px;
  height: 22px;
  float:left;
  margin:1px;
}

#serverRes{
  width:150px;
  height:22px;
  border: 1px teal solid;
  float:left;
  margin:1px;
}
